//
// ----------------------------------------
// COLORS
//
// Colors in variables.
$color-dark: #000000;
$color-light: #ffffff;

// Text
$text-color-base: #222222;
$text-light: $color-light;
$link-color: #e84545;
$link-hover-color: #222222;

// Theme Colors
$color-1: #fbd300;
$color-2: #c4c4c4;
$color-3: #dbe2ef;
$color-4: #3f72af;
$color-5: #112d4e;
//
$primary: #fbe8d3;
$secondary: #928a97;
$secondary-dark: #283c63;


//
$body-background-color: $color-light;
