//
// ----------------------------------------
// FONTS
//

@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300;400;500;600;700;900&display=swap');

$font-base: 'Exo', sans-serif;
$font-size-base: 16;
$line-height-base: 24;
$font-weight-base: 400;
$font-weight-semi-bold: 500;
$font-weight-bold: 600;
$font-weight-bolder: 900;
