//
// ----------------------------------------
// VARIABLES
//
// Here we have different variables, used in project
// Special groups of variables we keep in _colors.scss, _fonts.scss
//

$media-margin: 40; //px

// Container width variables
$container-mobile: 720px;
$container-lg: 960px;
$container-xl: 1080px;
$container-xxl: 1210px;
$container-xxxl: 1400px;
$container-max: 1632px;
//
$container-padding: 15; //px

// Transitions
$default-transition-speed: .2s;


// Outline
$outline: 2px solid #7aacfe;
