@import '__settings/init';

//// General styles ////
.block-accordion {
	margin: 40px 0;
	.single-accordion {
		margin: 0 0 24px;
		&:last-child {
			margin-bottom: 0;
		}

		p:last-child {
			margin: 0;
		}

		&.active {
			.single-accordion__title {
				&:after {
					transform: rotate(-45deg);
					margin-top: 9px;
				}
			}
		}

		&__body {
			.wp-block {
				width: 100%;
			}
		}

		&__content {
			display: none;

			padding: 20px 20px 20px 20px;
		}

		&__title {
			display: block;

			padding: 20px 50px 20px 20px;

			position: relative;

			font-size: rem(18);
			line-height: rel(26,18);
			letter-spacing: 0;

			background-color: $primary;
			cursor: pointer;

			transition: all $default-transition-speed linear;
			&:hover {
				color: $text-color-base;

				&:after {
					border-color: $text-color-base;
				}
			}

			&:after {
				content: '';

				display: block;

				width: 10px;
				height: 10px;

				position: absolute;
				top: 50%;
				right: 20px;
				transform: translateY(-50%) rotate(135deg);

				border: 2px solid $text-color-base;
				border-width: 2px 2px 0 0;

				transition: all $default-transition-speed linear;
			}
		}
	}
}
