@import "style.scss";

//// Editor (backend) specific styles ////
.editor-styles-wrapper {
	.block-accordion {
		&__body {
			.wp-block {
				width: 100%;
				max-width: none;
			}
		}
		.single-accordion {
			&__content {
				display: block;
			}
		}
	}
}
