/* Embed Video Styles */
@import '__settings/init';

.wp-block-embed {
	margin: rem($media-margin) 0;
}

.wp-embed-aspect-16-9 {
	.iframe-wrapper {
		padding-bottom: 0;

		position: static;
	}
}
.iframe-wrapper {
	$root: &;

	height: 0;
	max-width: 100%;
	padding-bottom: 56.25%;

	position: relative;
	// margin: 20px auto 24px;

	overflow: hidden;

	&__overlay {
		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		background-color: $color-1;
		background-position: center;
		background-size: cover;
		svg path {
			transition: fill $default-transition-speed;

			fill: $secondary-dark;
		}
		&:hover {
			#{$root}__play {
				svg path {
					fill: $secondary;
				}
			}
		}
	}

	&__play {
		width: 50px;
		height: 50px;
		padding: 0;

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0);
		margin: 0;

		border: none;
		border-radius: 50%;
		background-color: $color-light;
		box-shadow: none;
		cursor: pointer;

		transition: background-color .2s linear;

		@include media('>=lg') {
			width: 80px;
			height: 80px;
		}

		svg {
			width: 15px;
			height: 19px;

			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate3d(-35%, -50%, 0);

			@include media('>=lg') {
				width: 24px;
				height: 30px;
			}

			path {
				transition: fill .2s linear;
			}
		}
	}

	iframe,
	object,
	embed {
		width: 100%;
		height: 100%;

		position: absolute;
		top: 0;
		left: 0;
		margin-top: 0;
		margin-bottom: 0;
	}
}
