@import '__settings/init';

.page-hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	height: 20vw;
	min-height: 370px;

	position: relative;

	background-color: $color-3;

	@include media('>=md') {
		min-height: 470px;
	}
	@include media('>=xl') {
		height: 22vw;
		min-height: 670px;
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		margin-bottom: 20px;

		text-align: center;
		text-transform: uppercase;
	}
}
